@font-face {
  font-family: "iconfont"; /* Project id 4635884 */
  src: url('iconfont.woff2?t=1722213930278') format('woff2'),
       url('iconfont.woff?t=1722213930278') format('woff'),
       url('iconfont.ttf?t=1722213930278') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e60a";
}

.icon-yonghu:before {
  content: "\e639";
}

.icon-yonghu1:before {
  content: "\e63d";
}

.icon-sousuo:before {
  content: "\e643";
}

.icon-shezhi:before {
  content: "\e72d";
}

.icon-lanya:before {
  content: "\ec4a";
}

.icon-lishishuju:before {
  content: "\e60f";
}

.icon-yonghu2:before {
  content: "\e6c8";
}

.icon-shezhi1:before {
  content: "\e654";
}

.icon-shezhi2:before {
  content: "\e60b";
}

.icon-history:before {
  content: "\e66d";
}

.icon-lanya1:before {
  content: "\e636";
}

.icon-lishijilu:before {
  content: "\e642";
}

.icon-shezhi3:before {
  content: "\e665";
}

.icon-xunzhaoshebei:before {
  content: "\e653";
}

